@page "/{VacId:int}"
@using Vaccine.Core.OutputModel
@inject VaccineService VaccineService

<h3>@vaccine.Title</h3>
<h4>Эта страница о вакцине</h4>

@code {
	[Parameter]
	public int VacId { get; set; }

	VaccineOutputModel vaccine;

	protected override void OnInitialized()
	{
		vaccine = VaccineService.GetAll().Where(v => v.Id == VacId).FirstOrDefault();
		base.OnInitialized();
	}
}
