@page "/user-{UserId:int}"
@using Vaccine.Core.OutputModel
@inject UserBLL UserBLL

<h3>@user.Name</h3>
<h4>Это страница о пациенте</h4>

@code {
	[Parameter]
	public int UserId { get; set; }

	UserOutputModel user;

	protected override void OnInitialized()
	{
		user = UserBLL.GetAll().Where(u => u.Id == UserId).FirstOrDefault();
		base.OnInitialized();
	}
}
